body{background-color:rgb(249, 212, 110);}
.header {
    text-align: center;
    background-color: rgb(255, 205, 144);
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}